# macOS
.DS_Store

# IDE
.vscode/
.idea/

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.ipynb_checkpoints/

# Virtual envs
venv/
.venv/
env/
dbt_venv/
airflow_venv/

# dbt artifacts
target/
dbt_packages/
logs/

# Airflow local
airflow_home/

# Local DuckDB
*.duckdb

# Secrets
*.json
.env

# Project scratch (repo root only)
clean/
recreate/
screenshots/

.profiles/.user.yml
lib/
